!!!
%html
  %head
    %title Ibackup
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
    = stylesheet_link_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
    = controller_stylesheet_link_tag 
    = controller_javascript_include_tag 
    = csrf_meta_tags
  %body
    = render partial: "layouts/header" if user_signed_in?
    .container
      .row
        .col-sm-8.col-sm-offset-2{style: "text-align:center;"}
          %p.notice= notice
          %p.alert= alert
    = yield
